:root {
  --vp-c-brand-3: #24c8db;
  --vp-c-brand-2: hsl(186, 72%, 60%);
  --vp-c-brand-1: #24c8db;
  --vp-button-brand-text: #1b1b1f;
  --vp-button-brand-hover-text: #1b1b1f;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #24c8db 30%,
    #ffc131
  );
  --vp-home-hero-image-background-image: linear-gradient(
    45deg,
    #24c8db 50%,
    #ffc131 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.button {
  background-color: var(--vp-button-alt-bg);
  padding: .4rem .6rem;
  border-radius: .375rem;
  font-size: 12px;
  text-decoration: none !important;
  color: var(--vp-button-alt-text) !important;
  transition: all .2s ease !important;
}

.button:hover {
  background-color: var(--vp-button-alt-hover-bg);
}